* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: rgb(220, 220, 220);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin-top: 140px;
}

h2 {
  text-align: center;
}

.testimonials {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  justify-content:space-evenly;
  align-items: center;

}

.testimonial {
  width: min-content;
  height: 340px;
  margin: 8px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px 3px lightgray;
  padding: 16px;
}

.testimonial img {
  object-fit: cover;
  width: 360px;
  height: 220px;
}

.testimonial p {
  margin-bottom: 1em;
}

h3 {
  text-align: end;
}