* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(220, 220, 220);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
}

.main {
  display: flex;
  max-width: 900px;
  background-color: white;
  margin: 10em 5% 20em 5%;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 10px lightgray;
  justify-content: space-between;
}

.left-content {
  padding: 48px 36px;
}

.right-content {
  margin: 48px 36px;
}

.intro {
  text-align: justify;
}

.intro h1 {
  margin-bottom: 16px;
}

.intro p {
  margin-bottom: 24px;
}

.intro button {
  color: white;
  margin-bottom: 24px;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  background-color: rgb(0, 0, 100);
}

.socmed {
  text-align: center;

  font-size: 2em;
  flex-direction: column;
}

.socmed a {
  margin: 0.5em;
}

.card {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(220, 220, 220);
  border: 1px solid lightgray;
}

.card img {
  border-radius: 10px 10px 0 0;
  padding-bottom: 10px;
}

.card p {
  padding-bottom: 10px;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
}