<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/my-project-styles.css">
    <link rel="stylesheet" href="./assets/styles/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>My Project</title>
</head>
<body>
    <!--NAVIGATION-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="./assets/img/logo-brand.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/my-project">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./testimonials">Testimonials</a>
          </li>
        </ul>
          <a href="./contact-form" class="btn btn-outline-success" type="submit">Contact</a>
      </div>
    </div>
  </nav>
  <!--NAVIGATION-->
    <p class="title">ADD MY PROJECT</p>
    <form action="" onsubmit="submitProject(event)">
      <label class="label-bold" for="project-name">Project Name<input type="text" id="input-project" name="project-name" /></label>
      <div class="date">
        <div class="date-left">
          <label class="label-bold" for="start-date">Start Date<input type="date" id="start-date" name="start-date"></label>
        </div>
        <div class="date-right">
          <label class="label-bold" for="end-date">End Date<input type="date" id="end-date" name="end-date"></label>
        </div>
      </div>
      <label class="label-bold" for="input-description">Description<textarea name="" id="input-description"></textarea></label>

      <fieldset class="input-checkbox">
        <legend>Technologies</legend>
<!--Checkboxes input-->
        <div class="checkbox-left">
          <label for="node-js"><input type="checkbox" id="node-js" name="technologies"> Node Js</label>
          <label for="react-js"><input type="checkbox" id="react-js" name="technologies"> React Js</label>
        </div>

        <div class="checkbox-right">
          <label for="next-js"><input type="checkbox" id="next-js" name="technologies"> Next Js</label>
          <label for="typescript"><input type="checkbox" id="typescript" name="technologies"> TypeScript</label>
        </div>

      </fieldset>
      
        <label class="label-bold" for="input-image">Upload Images<input type="file" id="input-image" name="input-image" /></label>
      <input class="submit" type="submit" value="submit">
    </form>
<!--LIST OF PROJECT-->
    <div id="content" class="project-list">
<!--DUMMY PROJECT-->
      <div class="dummy-project">
        <div id="project" class="project">
          <img src=" https://i.pinimg.com/564x/a0/df/6d/a0df6d573845ba42809e325f9ac323a3.jpg">
          <div class="project-title">
            <h2>AI Task Integrated App</h2>
            <p>duration: 2 month(s)</p>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi exercitationem dolore voluptates?</p>
          <div class="tech-list">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 100);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 100);"></i>
            <i class="fa-brands fa-react"  style="color: rgb(0, 0, 100);"></i>
          </div>
          <div class="edit-del-button">
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </div>
  
        <div id="project" class="project">
          <img src="  https://i.pinimg.com/564x/9b/91/bc/9b91bceb0cded21f8c018152c50e3b58.jpg">
          <div class="project-title">
            <h2>Crypto Payment Gateway</h2>
            <p>duration: 5 month(s)</p>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi exercitationem dolore voluptates?</p>
          <div class="tech-list">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 100);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 100);"></i>
            <i class="fa-brands fa-react"  style="color: rgb(0, 0, 100);"></i>
          </div>
          <div class="edit-del-button">
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </div>
  
        <div id="project" class="project">
          <img src="https://i.pinimg.com/564x/cb/c7/6a/cbc76a054c9599cc13d5d69910029a15.jpg">
          <div class="project-title">
            <h2>Dumbways Mobile App</h2>
            <p>duration: 2 month(s)</p>
          </div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi exercitationem dolore voluptates?</p>
          <div class="tech-list">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 100);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 100);"></i>
            <i class="fa-brands fa-react"  style="color: rgb(0, 0, 100);"></i>
          </div>
          <div class="edit-del-button">
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </div>
      </div>
<!--SUBMITTED PROJECT-->
      <div class="project-submitted" id="project-submitted">

      </div>

     </div>
     
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="./assets/js/my-project.js"></script>
    <script src="https://kit.fontawesome.com/46c9a62c65.js" crossorigin="anonymous"></script>
</body>
</html>
